@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: 290%; 
}

#app {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    
}

.container {
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;


    display: flex;

    height: 100vh;
    width: 100vw;

    flex-direction: column;
    flex-wrap: nowrap;
}

.container-top {
    display: flex;

    justify-content: space-between;

    flex-basis: 10%;
}

.container-top-left {

}

.container-top-right {

}

.container-content {
    display: flex;

    justify-content: space-between;

    flex-grow: 1;
}

.container-content-left {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.container-content-right {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.container-bottom {
    flex-basis: 10%;
}

.widget {
    /* background-color: rgb(255, 255, 255, 0.3); */
    padding: 50px;
    overflow: hidden;
}

.widget .title {
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.4);
}

.widget .subtitle {
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.7);
}

/****************/
/*** CALENDAR ***/
/****************/
.widget-calendar {
}

.widget-calendar span.small-date {
    font-size: 50%;
    float: right;
}

.widget-calendar .event {
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 50px;
}

.widget-calendar .event:last-child {
    margin-bottom: 100px;
}

.widget-calendar .date-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.widget-calendar .date-container .date {
    margin-bottom: 10px;
}

/****************/
/**** CLOCK *****/
/****************/
.widget-clock {
}

.widget-clock .clock-container {
    display: flex;
    margin-bottom: -30px;
}

.widget-clock .time {
    font-size: 400%;
}

.widget-clock .seconds {
    margin-top: 30px;
    font-size: 150%;
    margin-left: 10px;
}

.widget-clock .date-container {
    font-size: 120%;
}

/****************/
/**** SONOS *****/
/****************/
.widget-sonos {
    text-align: right;
}

.widget-sonos .sonos-container {
    display: flex;
    justify-content: flex-end;
}

.widget-sonos .sonos-container .artwork > img {
    height: 160px;
    width: 160px;
}

.widget-sonos .sonos-container .artwork {
    margin-left: 50px;
}

/****************/
/*** NETATMO ****/
/****************/
.widget-netatmo {
    text-align: right;
}

/******************************/
/*** PUBLIC-TRANSPORTATION ****/
/******************************/
.widget-public-transportation {
    text-align: right;
}

/*************************/
/*** ESSENTAIL-PHOTOS ****/
/*************************/
.widget-essential-photos {
    text-align: right;
}

/*****************/
/*** Withings ****/
/*****************/
.widget-withings {
    text-align: right;
}

/*****************/
/*** EO-Guide ****/
/*****************/
.widget-eo-guide {
    text-align: right;
}

/*****************/
/*** INTERNET ****/
/*****************/
.widget-internet {
    text-align: right;
}

/****************/
/*** Weather ****/
/****************/
.widget-weather {
    
}

.widget-weather .weather-container {
    display: flex;
    justify-content: space-between;
}

.widget-weather .current-container h1 {
    font-size: 400%;
}